.first, .second, .third{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 3px solid #D5C7C6;
    margin: 50px;
    background: url(img/person1.jpg);
    position: relative;
    display: inline-block;
}
.second{
    background: url(img/person2.jpg);
}
.third{
    background: url(img/person3.jpg);
}

.vk{
    height: 30px;
    width: 30px;
    background: url(img/social_icons.png) 60px 30px;
    position: absolute;
    left: 15px;
    top: 2.5px;
}
.vk:hover{
    background: url(img/social_icons.png) 60px 0;
}
.t{
    height: 30px;
    width: 30px;
    background: url(img/social_icons.png) 90px 30px;
    position: absolute;
    top: 27.5px;
    left: -7.5px;
}
.t:hover{
    background: url(img/social_icons.png) 90px 0;
}
.f{
    height: 30px;
    width: 30px;
    background: url(img/social_icons.png) 120px 30px;
    position: absolute;
    top: 60px;
    left: -15px;
}
.f:hover{
    background: url(img/social_icons.png) 120px 0;
}
.m{
    height: 30px;
    width: 30px;
    background: url(img/social_icons.png) 30px 30px;
    position: absolute;
    bottom: -15px;
    left: 65px;
}
.m:hover{
    background: url(img/social_icons.png) 30px 0;
}
